[Unit]
Description=Nexus Service
After=syslog.target network.target

[Service]
Type=forking
LimitNOFILE=65536
ExecStart=/opt/nexus/bin/nexus start
ExecStop=/opt/nexus/bin/nexus stop
User={{ user }}
Group={{ group }}
Restart=on-failure

[Install]
WantedBy=multi-user.target